@font-face {
    font-family: barlow-semibold;
    src: url(fonts/Barlow-SemiBold.ttf);
}

@font-face {
    font-family: barlow-medium;
    src: url(fonts/Barlow-Medium.ttf);
}

@font-face {
    font-family: barlow-regular;
    src: url(fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: oswald-bold;
    src: url(fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: oswald-regular;
    src: url(fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: oswald-light;
    src: url(fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: oswald-medium;
    src: url(fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: oswald-semibold;
    src: url(fonts/Oswald-SemiBold.ttf);
}

body{
    overflow: hidden;
    background: black;
    display: none;
}

.kopya{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0vw;
    left: 0vw;
    opacity: 0.8;
}

.title-area{
    position: absolute;
    width: 40vw;
    height: 3.32vw;
    left: 1.85vw;
    top: 1.08vw;
    border-left: 0.15vw solid #FFFFFF72;
}

.title{
    position: absolute;
    font-family: barlow-semibold;
    top: -1.17vw;
    left: 0.8vw;
    color: #FFFFFF60;
    font-size: 1.045vw;
}

.title-desc{
    position: absolute;
    width: 21vw;
    font-family: barlow-semibold;
    top: 0.2vw;
    left: 0.8vw;
    color: #FFFFFF42;
    font-size: 0.93vw;
}

.logo{
    position: absolute;
    width: 3.1vw;
    height: 3.15vw;
    left: 44.6vw;
    top: 1.1vw;
}

.server-name{
    position: absolute;
    top: -0.555vw;
    font-family: oswald-bold;
    left: 48.45vw;
    font-size: 1.53vw;
    color: #FFFFFF;
}

.server-desc{
    position: absolute;
    top: 1.75vw;
    font-family: oswald-light;
    left: 48.42vw;
    font-size: 1.05vw;
    color: #FFFFFF60;
}

.profile-area{
    position: absolute;
    width: 15vw;
    height: 4.5vw;
    left: 84vw;
    top: 0.4vw;
}

.profile-name{
    position: absolute;
    font-family: barlow-medium;
    color: #FFFFFF58;
    right: 4.3vw;
    top: -0.05vw;
    font-size: 1.05vw;
}

.profile-name-2{
    color: #FFFFFF;
}

.profile-cash{
    position: absolute;
    font-family: barlow-medium;
    color: #88FF9B;
    right: 4.3vw;
    top: 1.35vw;
    font-size: 1.05vw;
}

.picture-bg{
    position: absolute;
    width: 3.25vw;
    height: 3.25vw;
    left: 11.35vw;
    top: 0.7vw;
}

.picture{
    position: absolute;
    width: 2.75vw;
    height: 2.7vw;
    left: 11.6vw;
    top: 1vw;
    border-radius: 50%;
    object-fit: cover;
}

.info-area{
    position: absolute;
    width: 50.25vw;
    height: 3.65vw;
    top: 50.08vw;
    left: 24.8vw;

    border: 0.1vw solid #FFFFFF13;
    border-radius: 0.3vw;
}

.info-lines{
    position: absolute;
    width: 30.6vw;
    left: 9.45vw;
    top: 0.85vw;
}

.info-time{
    position: absolute;
    width: 9.3vw;
    height: 3.65vw;
    left: 0vw;
    top: 0vw;
}

.info-image{
    position: absolute;
    width: 2.05vw;
    height: 2.1vw;
    left: 0.9vw;
    top: 0.8vw;
}

.info-text{
    position: absolute;
    left: 3.35vw;
    top: -0.25vw;
    color: #FFFFFF74;
    font-family: barlow-semibold;
    font-size: 1.02vw;
}

.info-desc{
    position: absolute;
    left: 3.35vw;
    top: 1.2vw;
    color: #FFFFFF44;
    font-family: barlow-regular;
    font-size: 0.73vw;
}

.info-wind{
    position: absolute;
    width: 9.3vw;
    height: 3.65vw;
    left: 18.95vw;
}

.info-temp{
    position: absolute;
    width: 9.3vw;
    height: 3.65vw;
    left: 29.5vw;
}

.info-players{
    position: absolute;
    width: 9.3vw;
    height: 3.65vw;
    left: 40.55vw;
}

.info-weather{
    position: absolute;
    width: 9.3vw;
    height: 3.65vw;
    left: 9.9vw;
}

.map{
    position: absolute;
    width: 86.5vw;
    height: 56.6vw;
    left: 4.75vw;
    top: -0.1vw;
}

.bacground{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0vw;
    top: 0vw;
}

.location{
    position: absolute;
    width: 13vw;
    height: 4vw;
    left: 15.6vw;
    top: 28vw;
}

.location-icon{
    position: absolute;
    width: 8.56vw;
    height: 9.2vw;
    top: -2.65vw;
    left: -2.15vw;
}

.location-spawn{
    position: absolute;
    width: 5.45vw;
    height: 1.4vw;
    top: 0.3vw;
    left: 4.62vw;
    background: linear-gradient(159deg, rgba(77,255,115,1) 0%, rgba(0,165,35,1) 100%);
    border: 0.15vw solid #019b22da;
}

.location-spawn-name{
    position: absolute;
    font-family: oswald-medium;
    font-size: 0.8vw;
    text-align: center;
    top: -0.65vw;
    width: 100%;
    color: #000000b4;
}

.location-desc{
    position: absolute;
    width: 7.7vw;
    height: 1.4vw;
    top: 2.15vw;
    left: 4.62vw;
    background: #DFDFDF;
    border: 0.15vw solid #7f7f7fd4;
}

.location-desc-title{
    position: absolute;
    font-family: oswald-semibold;
    font-size: 0.55vw;
    top: -0.65vw;
    left: 0.2vw;
    color: #000000a3;
}

.location-desc-text{
    position: absolute;
    font-family: oswald-regular;
    font-size: 0.475vw;
    top: 0.2vw;
    left: 0.2vw;
    color: #000000a7;
}

.anim{
    transition: 0.3s;
}

.anim:hover{
    transform: scale(0.95);
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

*:not(input):not(textarea) {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none
}